@import "tailwindcss";

@layer utilities {
  .bg-secondary {
    background: var(--secondary-color);
  }
}

:root {
  --brand-primary: #efd7e5;
  --brand-soft: #f7edf4;
  --text-primary: #393939;
  --brand-secondary: #B3848F;
  --accent: #c27ba0;
  --secondary-color: #D3D3D3;
}

body {
  background-color: #F8F1F4;
  color: var(--text-primary);
}
